media_upload_test/bin/R.txt
media_upload_test/bin/jarlist.cache
media_upload_test/bin/AndroidManifest.xml
media_upload/bin/AndroidManifest.xml
media_upload/bin/jarlist.cache
media_upload/bin/media_upload.jar
media_upload/bin
media_upload_test/bin
media_upload_test/gen
media_upload_demo/bin
media_upload_demo/gen

media_upload_test/bin
media_upload_test/gen
media_upload_test/build
media_upload_test/.gradle
media_upload_test/app/build
media_upload_test/app/app.iml

media_upload/bin
media_upload/gen
media_upload/build
media_upload/.gradle
media_upload/app/build
media_upload_test/app/app.iml