media_upload_test/bin/R.txt
media_upload_test/bin/jarlist.cache
media_upload_test/bin/AndroidManifest.xml
media_upload/bin/AndroidManifest.xml
media_upload/bin/jarlist.cache
media_upload/bin/media_upload.jar
media_upload/bin
media_upload_test/bin
